# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env
.env.local

# Database
*.db
*.sqlite3

# Distribution / Packaging
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# json
prompt-pro-3df27-firebase-adminsdk-fbsvc-be73b150ee.json
